<div class="navbar">
    <ul>
        <li>
            <NavLink href="">
                KRT
            </NavLink>
        </li>
        <li>
            <NavLink href="reports">
                Reports
            </NavLink>
        </li>
    </ul>
</div>