.navbar {
    margin-bottom: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ab5dda;
}

.navbar li {
    float: left;
    margin-bottom: 0;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #dbb4f2;
}

body {
    font-family: 'Roboto Slab', serif;
}

.big-icon .iconify {
    font-size: 2em;
    line-height: 1em;
}

.collapsed {
    display: none;
}